<div class="container">
    <div class="row"></div>
        <div class="mx-auto col-sm-12 col-md-8 col-lg-5">
            <h1>User info</h1>
            <%= form_with model: @user do |f| %>
            <div>
                <p>Name</p>
                  <%= f.text_field :name %>
            </div>
            <div>
                <p>Image</p>
                <%= f.file_field :profile_image,  accept: "image/*" %>
            </div>
            <div>
                <p>Introduction</p>
                <%= f.text_area :introduction %>
            </div>
            <div class="btn btn-sm">
                <%= f.submit "Update User" %>
            </div>
            <% end %>
        </div>
    </div>
</div>